# API Settings, prefix `API_` is stripped.
API_TITLE='Template API'
API_DESCRIPTION='Template API to be used for various web applications and services.'
API_VERSION='0.0.1'
API_AUTHORS='["Ada Pedersen <github@adapdr.me>"]'
API_OPENAPI_URL='/openapi.json'
API_DEBUG=True

# Database Settings, prefix `DB_` is stripped
## DB Connection
DB_DRIVER='mysql'
DB_DRIVER_DEFAULT='mysql'
DB_LOG_QUERIES=True

DB_HOST='template-db'
DB_PORT='3306'
DB_DATABASE='templatedb'

DB_USER='template'
DB_PASSWORD='super-secret-password'
DB_ROOT_USER
DB_ROOT_PASSWORD

# Auth Settings, prefix `AUTH_` is stripped
AUTH_USERNAME='admin'
AUTH_PASSWORD='admin'
